/* google font import "inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --primary-background-color: #1a0b2e;
  --secondary-background-color: #230e3d;
  --button-bg-color: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --desc-color: rgba(255, 255, 255, 0.74);
  --heading-1: 3.75rem;
  --heading-2: 3rem;
  --heading-3: 1.5rem;
  --desc-font: 1rem;
  --position-font: 1.125rem;
}

/* shared style for multiple use  */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-size: var(--desc-font);
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
}

.btn:active {
  transform: translateY(3px);
}

/* header stared */

/* navbar */
nav {
  background: var(--primary-background-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.nav-logo {
  max-width: 220px;
  width: 100%;
}
.logo {
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-link {
  display: inline-block;
  font-size: var(--desc-font);
  color: var(--primary-color);
  font-weight: 500;
  padding: 3px;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--button-bg-color);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-btn {
  padding: 12px 16px;
  background: var(--button-bg-color);
  transition: background 3s ease;
}
.nav-btn:hover {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 0.85),
    rgba(251, 9, 180, 0.85),
    rgba(145, 0, 248, 0.85)
  );
}
