/* google font import "inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --primary-background-color: #1a0b2e;
  --secondary-background-color: #230e3d;
  --button-bg-color: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --desc-color: rgba(255, 255, 255, 0.74);
  --heading-1: 3.75rem;
  --heading-2: 3rem;
  --heading-3: 1.5rem;
  --desc-font: 1rem;
  --position-font: 1.125rem;
}

/* shared style for multiple use  */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.heading-2 {
  font-size: var(--heading-2);
  color: var(--primary-color);
  font-weight: 700;
}
.desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  line-height: 20px;
}

.btn {
  font-size: var(--desc-font);
  color: var(--primary-color);
  padding: 12px 16px;
  background: var(--button-bg-color);
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  /* for transition smoothly */
  background-size: 300% 300%;
  background-position: 0% 50%;
  transition: background-position 0.4s ease;
}
.btn:hover {
  background-position: 100% 50%;
}
.btn:active {
  transform: translateY(3px);
}

/* header stared */

/* navbar */
nav {
  background: var(--primary-background-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-link {
  display: inline-block;
  font-size: var(--desc-font);
  color: var(--primary-color);
  font-weight: 500;
  padding: 3px;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--button-bg-color);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
}

/* ///////////////////////////// */

/* banner section */
.section-banner {
  background: url("../assets/hero-bg.png") no-repeat center / cover;
  width: 100%;
}
.banner-container {
  padding: 100px 0;
  margin: 0 auto;
}

.banner-img {
  max-width: 350px;
  width: 100%;
  height: 350px;
  background: url("../assets/hero-circle.png") no-repeat center / cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.new {
  position: absolute;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: var(--position-font);
  background: var(--secondary-color);
  font-weight: 500;
  top: 0;
  right: 20px;
  box-shadow: 0 2px 15px #008f47;
}
.banner-content {
  margin-top: 40px;
  text-align: center;
}

.banner-title {
  font-size: var(--heading-1);
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 8px;
}
.banner-desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  margin-bottom: 24px;
}

.btn-box {
  display: inline-flex;
  gap: 8px;
}

.banner-btn-2 {
  font-size: var(--desc-font);
  color: var(--secondary-color);
  font-weight: 500;
  border: 2px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 14px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner-btn-2:hover {
  background: #001f03;
}
.banner-btn-2:active {
  transform: translateY(3px);
}

/* about section */
.section-about {
  background: var(--primary-background-color);
}
.about {
  padding: 50px 0 120px;
}
.about-content {
  padding-bottom: 80px;
  border-bottom: 2px solid #ffffff1a;
  text-align: center;
}
.about-title {
  margin-bottom: 16px;
}

.about-cards-box {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 15px;
}
.card-title {
  font-size: var(--heading-2);
  color: var(--secondary-color);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-title i {
  font-size: 35px;
}
.card-desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  line-height: 20px;
}

/* section choice */
.section-choice {
  background: var(--secondary-background-color);
  padding: 120px 0;
}
.choice-title {
  text-align: center;
  margin-bottom: 40px;
}

/* grid content style */
.heading-3 {
  font-size: var(--heading-3);
  color: var(--primary-color);
}

/* grid style */
.choice-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, 273px); */
  gap: 30px;
  grid-template-areas:
    "content-1 content-2 content-2"
    "content-1 content-3 content-3"
    "content-4 content-4 content-5";
}
.content-1,
.content-2,
.content-3,
.content-4,
.content-5 {
  background: var(--primary-background-color);
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.content-1 figure,
.content-2 figure,
.content-3 figure,
.content-4 figure,
.content-5 figure {
  width: 100%;
}
.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}
.content-3 {
  grid-area: content-3;
}
.content-4 {
  grid-area: content-4;
}
.content-5 {
  grid-area: content-5;
}
/* feature section */

/* /////////////////////////////////////////////////////////// */
/* mobile responsive */
@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px;
  }
  .nav-items,
  .nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-container {
    padding: 40px 20px;
  }
  .about-cards-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  br {
    display: none;
  }
  .choice {
    padding: 20px;
  }
  .choice-content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content-1"
      "content-2"
      "content-3"
      "content-4"
      "content-5";
  }
}
/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    padding: 20px;
  }
  .nav-items,
  .nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .about-cards-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .choice {
    padding: 20px;
  }
  .choice-content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content-1 content-2"
      "content-3 content-4"
      "content-5";
  }
}
