/* google font import "inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --primary-background-color: #1a0b2e;
  --secondary-background-color: #230e3d;
  --button-bg-color: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --desc-color: rgba(255, 255, 255, 0.74);
  --heading-1: 3.75rem;
  --heading-2: 3rem;
  --heading-3: 1.5rem;
  --desc-font: 1rem;
  --position-font: 1.125rem;
}

/* shared style for multiple use  */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.heading-2 {
  font-size: var(--heading-2);
  color: var(--primary-color);
  font-weight: 700;
}
.desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  line-height: 20px;
}

.btn {
  font-size: var(--desc-font);
  color: var(--primary-color);
  padding: 12px 16px;
  background: var(--button-bg-color);
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  /* for transition smoothly */
  background-size: 300% 300%;
  background-position: 0% 50%;
  transition: background-position 0.4s ease;
}
.btn:hover {
  background-position: 100% 50%;
}
.btn:active {
  transform: translateY(3px);
}

/* header stared */
/* navbar */
nav {
  background: var(--primary-background-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-link {
  display: inline-block;
  font-size: var(--desc-font);
  color: var(--primary-color);
  font-weight: 500;
  padding: 3px;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--button-bg-color);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
}

/* ///////////////////////////// */

/* banner section */
.section-banner {
  background: url("../assets/hero-bg.png") no-repeat center / cover;
  width: 100%;
  background-size: 100% 100%;
}
.banner-container {
  padding: 100px 0;
  margin: 0 auto;
}

.banner-img {
  max-width: 350px;
  width: 100%;
  height: 350px;
  background: url("../assets/hero-circle.png") no-repeat center / cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.banner-img img {
  animation: float 3s ease-in-out infinite;
}
/* animation banner image */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.new {
  position: absolute;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: var(--position-font);
  background: var(--secondary-color);
  font-weight: 500;
  top: 0;
  right: 20px;
  box-shadow: 0 2px 15px #008f47;
}
.banner-content {
  margin-top: 40px;
  text-align: center;
}

.banner-title {
  font-size: var(--heading-1);
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 8px;
}
.banner-desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  margin-bottom: 24px;
}

.btn-box {
  display: inline-flex;
  gap: 8px;
}

.banner-btn-2 {
  font-size: var(--desc-font);
  color: var(--secondary-color);
  font-weight: 500;
  border: 2px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 14px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner-btn-2:hover {
  background: #001f03;
}
.banner-btn-2:active {
  transform: translateY(3px);
}

/* about section */
.section-about {
  background: var(--primary-background-color);
}
.about {
  padding: 50px 0 120px;
}
.about-content {
  padding-bottom: 80px;
  border-bottom: 2px solid #ffffff1a;
  text-align: center;
}
.about-title {
  margin-bottom: 16px;
}

.about-cards-box {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 15px;
  animation: CardMotion 2s ease-in-out infinite alternate;
}
/* animation */
@keyframes CardMotion {
  0% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-title {
  font-size: var(--heading-2);
  color: var(--secondary-color);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-title i {
  font-size: 35px;
}
.card-desc {
  font-size: var(--desc-font);
  color: var(--desc-color);
  line-height: 20px;
}

/* section choice */
.section-choice {
  background: var(--secondary-background-color);
  padding: 120px 0;
}
.choice-title {
  text-align: center;
  margin-bottom: 40px;
}
.section-choice figure img {
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* grid content style */
.heading-3 {
  font-size: var(--heading-3);
  color: var(--primary-color);
}

/* grid style */
.choice-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 30px;
  grid-template-areas:
    "content-1 content-2 content-2"
    "content-1 content-3 content-3"
    "content-4 content-4 content-5";
}
.content-1,
.content-2,
.content-3,
.content-4,
.content-5 {
  background: rgba(53, 17, 101, 0.4);
  box-shadow: 0 2px 20px #14141418;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.content-1 figure,
.content-2 figure,
.content-3 figure,
.content-4 figure,
.content-5 figure {
  width: 100%;
}
.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}
.content-3 {
  grid-area: content-3;
}
.content-4 {
  grid-area: content-4;
}
.content-5 {
  grid-area: content-5;
}
/* feature section */
.section-feature {
  background: var(--primary-background-color);
  padding: 120px 0;
}
.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  margin-bottom: 120px;
}

.feature-title {
  text-align: center;
  margin-bottom: 40px;
}
.feature-card {
  background: var(--secondary-background-color);
  border-radius: 10px;
  max-width: 380px;
  width: 100%;
  /* animation */
  animation: float 3s ease-in-out infinite alternate;
}

iframe {
  width: 100%;
  height: 214px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.duration {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: var(--secondary-color);
}
.duration img {
  max-width: 20px;
  width: 100%;
}

/* meet host */
.feature-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 40px;
  background: var(--secondary-background-color);
  border-radius: 30px;
}
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.icon {
  display: flex;
  align-items: center;
  gap: 16px;
}
.icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  object-fit: cover;
  /* padding: 10px; */
  border: 2px solid #e4a4c415;
  border-radius: 50%;
}

/* footer */
footer {
  background: url("../assets/footer-bg.png") no-repeat center / cover;
  background-size: 100% 100%;
}
.footer-logo {
  max-width: 410px;
  width: 100%;
}
.footer-logo img {
  width: 100%;
}
.footer-container {
  padding: 120px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer-items-icon {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  gap: 40px;
  /* flex-wrap: wrap; */
}
.footer-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-icon span {
  margin: 0;
  white-space: nowrap;
}
.footer-icon img {
  max-width: 24px;
  width: 100%;
}
/* /////////////////////////////////////////////////////////// */
/* mobile responsive */
@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px;
  }
  .nav-items,
  .nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .banner-img {
    max-width: 200px;
    height: 200px;
    margin-top: 80px;
  }
  .banner-img img {
    height: 80px;
  }
  .new {
    top: -5px;
    right: -20px;
  }
  .banner-container {
    padding: 10px 20px 40px;
  }

  .about {
    padding: 50px 20px;
  }
  .about-content {
    padding-bottom: 50px;
  }
  .about-cards-box {
    margin-top: 50px;
  }
  .about-cards-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  br {
    display: none;
  }
  .section-choice {
    padding: 50px 20px;
  }
  .choice-title {
    font-size: 32px;
  }
  .heading-2 {
    font-size: 32px;
  }
  .choice-content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content-1"
      "content-2"
      "content-3"
      "content-4"
      "content-5";
  }

  .section-feature {
    padding: 50px 20px;
  }
  .feature-cards {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .feature-content-box {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .icon {
    justify-content: center;
  }
  footer {
    background-size: 165% 100%;
  }
  .footer-container {
    padding: 40px 20px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-items-icon {
    grid-template-columns: repeat(2, max-content);
    gap: 16px;
    margin-top: 50px;
    justify-content: center;
    max-width: 255px;
    width: 100%;
    text-align: center;
  }
  .ml {
    margin-left: 30px;
  }
}
/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    padding: 20px;
  }
  .nav-items,
  .nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .banner-img {
    max-width: 200px;
    height: 200px;
    margin-top: 80px;
  }
  .banner-img img {
    height: 80px;
  }
  .new {
    top: -5px;
    right: -20px;
  }
  .banner-container {
    padding: 10px 20px 40px;
  }

  .about-cards-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .choice {
    padding: 20px;
  }
  .choice-content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content-1"
      "content-2"
      "content-3"
      "content-4"
      "content-5";
  }
  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    background-size: 165% 100%;
  }
  .about {
    padding: 50px 20px;
  }
  .section-choice {
    padding: 50px 20px;
  }
  .section-feature {
    padding: 50px 20px;
  }
  .footer-container {
    padding: 40px 20px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-items-icon {
    grid-template-columns: repeat(3, max-content);
    gap: 16px;
    margin-top: 50px;
    justify-content: center;
    max-width: 255px;
    width: 100%;
    text-align: center;
  }
}
